{% extends 'myapp/layout.html' %}
{% load static %}
{% block custom_style %}
<style>
    .upload-cover {
        background-image: url("{% static 'img/inqury.png' %}");
        background-size: cover;
    }

    .content {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        padding-top: 40px;
    }

    .content>div {
        width: 40%;
    }

    .content>div h2 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 900;
        letter-spacing: 5px;
        color: #444;
        margin-bottom: 15px;
    }

    .content div p {
        color: #626262;
        margin: 0 0 15px;
        padding: 0;
    }

    .one-second.column {
        width: 48%;
        float: left;
        margin: 0 1% 40px;
    }

    form>div {
        margin: 18px 0;
    }

    form .row {
        min-width: 600px;
    }

    form label {
        line-height: 20px;
        margin-bottom: 4px;
        color: #0070c0;
    }

    .hs-form-required {
        color: red;
        vertical-align: middle;
    }
</style>
{% endblock %}
{% block title %}Submit Request For Quote – Classic Components{% endblock %}
{% block content %}
<div class="cover upload-cover">
    <div class="container">
        <div class="row align-items-center">
            <h1 class="title">Submit Request For Quote</h1>
        </div>
    </div>
</div>
<div class="upload-wrapper">
    <div class="content">
        <div class="left one-second column columns">
            <h2>BOM Upload</h2>
            <p>If you have a Bill of Materials (BOM) for upload, use the form below to upload it.</p>
            <form class="needs-validation" novalidate action="/table/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="firstName" class="form-label">
                        <span>First name</span>
                        <span class="hs-form-required">*</span>
                    </label>
                    <input type="text" class="form-control" name="firstName" value="" required
                        pattern="([A-Za-z.]{3,20})">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please input the required firstName, containing 3 to 30 letters.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">
                        <span>Last name</span>
                        <span class="hs-form-required">*</span>
                    </label>
                    <input type="text" class="form-control" name="lastName" value="" required
                        pattern="([A-Za-z.]{3,20})">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please input the required lastName, containing 3 to 30 letters.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">
                        <span>Company Email</span>
                        <span class="hs-form-required">*</span>
                    </label>
                    <input type="email" class="form-control" name="email" value="" required
                        pattern="^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please input a company email with valid format.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">
                        <span>Phone number</span>
                        <span class="hs-form-required">*</span>
                    </label>
                    <input type="text" class="form-control" name="phone" value="" required pattern="([0-9]{6,20})">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please input a phone number with valid format.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="file" class="form-label">
                        <span>File Upload</span>
                        <span class="hs-form-required">*</span>
                    </label>
                    <input type="file" class="form-control" name="file" id="file" required size="10 * 1024 * 1024">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a valid file, less than 10MB.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">
                        <span>Message</span>
                    </label>
                    <textarea class="form-control" name="message" placeholder=""></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <div class="right one-second column columns">
            <h2>Submit RFQ</h2>
            <p>If you have a Request For Quote, use the form below to submit it.</p>
            <form class="needs-validation" novalidate action="/table/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="firstName">
                            <span>First name</span>
                            <span class="hs-form-required">*</span>
                        </label>
                        <input type="text" class="form-control" name="firstName" minlength="3" maxlength="20" required
                            pattern="([A-Za-z.]{3,20})">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please input the required firstName, containing 3 to 30 letters.
                        </div>
                    </div>
                    <div class="col">
                        <label for="lastName">
                            <span>Last name</span>
                            <span class="hs-form-required">*</span>
                        </label>
                        <input type="text" class="form-control" name="lastName" minlength="3" maxlength="20" required
                            pattern="([A-Za-z.]{3,20})">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please input the required lastName, containing 3 to 30 letters.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="email">
                            <span>Your Email</span>
                            <span class="hs-form-required">*</span>
                        </label>
                        <input type="email" class="form-control" name="email" required
                            pattern="^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please input a personal email with valid format.
                        </div>
                    </div>
                    <div class="col">
                        <label for="phone">
                            <span>Phone number</span>
                        </label>
                        <input type="tel" class="form-control" name="phone">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please input a phone number.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="partNumber">
                            <span>Part Number</span>
                            <span class="hs-form-required">*</span>
                        </label>
                        <input type="text" class="form-control" name="partNumber" required pattern="([0-9]{3,20})">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please input the required part number, containing 3 to 20 numbers.
                        </div>
                    </div>
                    <div class="col">
                        <label for="manufacturer">
                            <span>Manufacturer</span>
                            <span class="hs-form-required">*</span>
                        </label>
                        <input type="text" class="form-control" name="manufacturer" required
                            pattern="([A-Za-z0-9]{0,20})">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please input the required manufacturer, containing less than 20 letters or numbers.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="quantity">
                            <span>Quantity</span>
                        </label>
                        <input type="text" class="form-control" name="quantity">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please input quantity.
                        </div>
                    </div>
                    <div class="col">
                        <label for="targetPrice">
                            <span>Target Price</span>
                        </label>
                        <input type="text" class="form-control" name="targetPrice">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please input target price.
                        </div>
                    </div>
                    <div class="col">
                        <label for="dateCode">
                            <span>Date Code</span>
                        </label>
                        <input type="text" class="form-control" name="dateCode">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please input a date.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="additionalInformation">Additional Information</label>
                        <textarea class="form-control" name="additionalInformation" placeholder=""></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <script>
            window.onload = function () {
                var slice = Array.prototype.slice;
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
                            form.classList.add('was-validated')
                        }, false)
                    })
            }
        </script>
    </div>
</div>
{% endblock %}