{% load static %}
<style>
    .navbar {
        padding: 1rem 16%;
        height: 90px;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 1rem 1.75rem;
        font-weight: 800;
    }

    .navbar-light .navbar-nav .nav-link {
        color: inherit !important;
    }

    .navbar .container-fluid>a {
        min-width: 162px;
    }

    .navbar-nav .nav-item .nav-link::after {
        display: none;
    }
</style>

<nav id="navbar" class="navbar navbar-expand-lg sticky-top navbar-light bg-green">
    <div class="container-fluid justify-content-between">
        <a class="nav-link mx-5 px-0 py-0" href="/" title="Choose ATTCOMP">
            <img id="nav-logo" class="logo" src="{% static 'logo/logo_horizantal_light.svg' %}" height="68"
                alt="ATTCOMP Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end align-self-end" style="color: #FFF;"
            id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        SERVICES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item  text-nowrap" href="#">Shortages</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item  text-nowrap" href="#">Cost Savings / PPV</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item  text-nowrap" href="#">We Buy and Sell Excess & Surplus
                                Inventory</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item  text-nowrap" href="#">Supply Chain and Procurement</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item  text-nowrap" href="#">Value Added Services</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item  text-nowrap" href="#">Line Card</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        QUALITY
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item  text-nowrap" href="#">Strategic Facilities</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item  text-nowrap" href="#">Inspenction & Testing</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item  text-nowrap" href="#">Counterfeit Avoidance</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-nowrap" href="#">CERTIFICATIONS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  text-nowrap" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="/about_us/">ABOUT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function throttle(func, delay) {
        var pre = Date.now();
        return function () {
            var context = this;
            var args = arguments;
            var now = Date.now();

            if (now - pre >= delay) {
                func.apply(context, args);
                pre = Date.now();
            }
        }
    }

    function watchScroll() {
        var navbar = document.getElementById("navbar")
        var navLogo = document.getElementById("nav-logo")
        var navContent = document.getElementById("navbarSupportedContent")
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;

        if (scrollTop > 120) {
            navbar.classList.add("bg-light")
            navbar.classList.remove("bg-green")
            navbar.style.boxShadow = "0 2px 4px rgb(0 0 0 / 10%)"
            navContent.setAttribute("style", "color: #212529")
            navLogo.src = "/static/logo/logo_horizantal_dark.svg";
        } else {
            navbar.classList.remove("bg-light")
            navbar.classList.add("bg-green")
            navbar.style.boxShadow = "none"
            navContent.setAttribute("style", "color: #FFFFFF")
            navLogo.src = "/static/logo/logo_horizantal_light.svg"
        }
    }

    // var throttledFunc = throttle(watchScroll, 200)

    document.addEventListener("scroll", watchScroll);

    // TODO 为什么以下的方式无效
    // window.onload = function (params) {
    //     document.addEventListener("scroll", watchScroll);
    // }

    window.onunload = function (params) {
        window.removeEventListener("scroll", watchScroll);
    }
</script>